@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
}
.wrapper {
  display: flex;
  padding-left: 0.5rem;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 2.2rem;
  align-items: center;
  margin-bottom: 3rem;
}

#search {
  height: 2.4rem;
  width: 50%;
  font-size: 1rem;
  padding: 0 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid gray;
  background: rgb(231, 228, 228);
}
#lazy {
  height: 2.4rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid gray;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex; /* gutter size offset */
  width: auto;
  gap: 0.4rem;
}
.my-masonry-grid_column {
  /* gutter size */
  background-clip: padding-box;
}

.imgContainer img {
  width: 100%;
}
